# Core
pandas>=2.0
numpy>=1.24
scikit-learn>=1.3
xgboost>=2.0
shap>=0.43
joblib

# Data loading
xlrd>=2.0
openpyxl

# Visualisation
matplotlib>=3.7
plotly>=5.15

# Database
sqlalchemy>=2.0

# API
fastapi>=0.100
uvicorn>=0.23

# Dashboard
streamlit>=1.30
Pillow
